@import "./index.css";


@media screen and (max-width: 500px) {

  .producto:nth-child(+n) {
    row-gap: 0;
    display: flex !important;
    width: 47% !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
    font-weight: bold;
  }
  .producto:nth-child(+n) img {
    width: 100% !important
  }

}

@media screen and (min-width: 500px) and (max-width: 1000px) {

}
