@import "./index.css";

#navbar ul {
  justify-content: space-around;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 7rem 1rem 7rem;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--color-fondo);
}
#message__contenido {
  color: var(--color-precio);
  width: 50%;
  display: none;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-fondo);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}
#message__contenido:hover {
  box-shadow: 0px 3px 8px gray;
}
#message__span {
  font-weight: normal;
}
#message__close {
  color: var(--color-precio);
}
#message__close:hover {
  cursor: pointer;
  transform: scale(1.5);
}


#all {
  background-color: var(--color-fondo);

  padding: 1rem 7rem 7rem 7rem;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  row-gap: 2rem;
  min-height: 100vh;
}
#all__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#all__head span {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-precio);
}
#all__head a {
  color: white;
  text-decoration: none;
  background-color: var(--color-boton);
  width: 10rem;
  height: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
}


#all__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 5rem;
  padding-bottom: 7rem;
}

.producto:nth-child(+n) {
  row-gap: 0;
  display: flex !important;
  /* width: 47% !important; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
  font-weight: bold;
}

.producto__options {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 2.7rem;
  margin: 0 auto;
  align-items: center;
  height: 1.5rem;
}
.icons {
  font-size: 1.5em;
  color: white !important;
  font-weight: bold !important;
  text-shadow: 0px 2px 5px black;
}
.icons:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.producto__informacion {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  width: 100%;
}

.producto img {
  width: 100%;
}

.producto a {
  text-decoration: none;
  color: var(--color-verproducto);
}
