@import "./index.css";

#mainDescription {
  padding-bottom: 6rem;
  padding-top: 1rem;
  min-height: 100vh;
}

#maincontent__desc {
  padding-right: 7rem;
  padding-left: 7rem;
}

#navbar {
  padding: 1rem 3rem 1rem 7rem !important;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4rem;
}


#description {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 100%;
}

#description__img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 2px 7px black;
  border-radius: 1rem;
}
#description__datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 1rem;
  align-items: flex-start;
  row-gap: 1rem;
}
#description__datos h1 {
  font-size: 35px;
  color: var(--color-precio);
  font-weight: bold;
}
#description__datos span {
  color: var(--color-precio);
  font-weight: 600;
  font-size: 20px;
}
#description__datos p {
  color: var(--color-precio);
  font-size: 18px;
  font-weight: lighter;
}

#similares {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#similares__head {
  font-size: 20px;
  color: var(--color-precio);
  font-weight: bold;
  margin-bottom: 1rem;
}
#similares__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#no__similares {
  width: 100%;
  text-align: center;
  color: var(--color-precio);
  font-weight: bold;
  font-size: 30px;
}
.similares__productos:nth-child(-n +6) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  width: 10.31rem;
  height: 15rem;
  border: 1px solid var(--color-fondo);
  border-radius: 1rem;
  padding: 10px 5px 10px 5px
}
.similares__productos img {
  width: 100%;
  height: 80%;
}
.producto__info {
  row-gap: 0.5rem;
  font-size: 14px;
}


.similares__productos .producto__info span:nth-child(2) {
  font-weight: bold !important;
}
.similares__productos .producto__info a {
  font-weight: bold !important;
}
