:root {
  --color-fondo: #E5E5E5;
  --color-footer: #EAF2FD;

  --color-boton: #2A7AE4;

  --color-verproducto: #2A7AE4;
  --color-precio: #464646;


  font-family: 'Raleway', sans-serif !important;
  --font-family: 'Raleway', sans-serif;

  /* --font-bold:  */

}
