@import "./index.css";


#maincontent {
  background-color: var(--color-fondo);
  font-family: 'Raleway', sans-serif;
}

#message {
  text-align: center;
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#message__contenido {
  width: 50%;
  display: none;
  justify-content: space-between;
  align-items: center;
}
#message__span {
  font-weight: normal;
}
#message__close {

}
#message__close:hover {
  cursor: pointer;
}

#login {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#login span {
  text-align: center;
  color: var(--color-precio);
  font-weight: bold;
  font-size: 25px;
}


#login__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
}

#login__form input {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 16rem;
  font-size: 17px;
  border-radius: 1rem;
  border: 1px solid gray;
}

#login__form button {
  color: white;
  text-decoration: none;
  background-color: var(--color-boton);
  height: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}
#login__form button:hover {
  cursor: pointer;
}

#panel {
  display: none;
  flex-direction: column;
  min-height: 60vh;
  margin-left: 7rem;
  margin-right: 7rem;
  row-gap: 1rem;
}
#panel__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#panel__datos {

}
.panel__datos-div {
  display: grid;
  grid-template-areas: "item data";
  grid-template-columns: 10rem;
}
.panel__datos-div span:nth-child(1) {
  grid-area: item;
}
.panel__datos-div span:nth-child(2) {
  grid-area: data;
}


#panel__name {
  color: var(--color-precio);
  font-size: 30px;
  font-weight: bold;
}
#panel__email {

}

#panel__quitBtn {
  color: white;
  text-decoration: none;
  background-color: var(--color-boton);
  height: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  width: 5rem;
}

#panel__quitBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
